.head{
    color:palevioletred;
    background-color: lightblue;
    font-size: 20px;
    padding: 10px;

}

.para{
    color: violet;
    background-color: lightgoldenrodyellow;
    font-size: 20px;
    padding: 10px;
}